# extends javascriptreact

snippet elcolorpicke "el-color-picker"
<el-color-picker
  v-model="pickedColor"
  disabled={ false }
  size="small"
  show-alpha={ false }
  onChange={ onColorChange }
/>
endsnippet

snippet elcolorpicker "el-color-picker with predefine"
<el-color-picker
  v-model="pickedColor"
  disabled={ false }
  size="small"
  show-alpha={ false }
  predefine={ predefinedColors }
  onChange={ onColorChange }
/>
endsnippet
