# extends javascriptreact

snippet vloading "v-loading directive"
  v-loading="loading"
  element-loading-text="拼命加载中"
  element-loading-spinner="el-icon-loading"
  element-loading-background="rgba(0, 0, 0, 0.8)"
endsnippet

snippet vloadingfull "v-loading directive with fullscreen attribute"
  v-loading.fullscreen.lock="loading"
  element-loading-text="拼命加载中"
  element-loading-spinner="el-icon-loading"
  element-loading-background="rgba(0, 0, 0, 0.8)"
endsnippet
