# extends javascriptreact

snippet elalert "el-alert"
  <el-alert
    title="提示文案"
    type="success | warning | info | error"
  />
endsnippet

snippet elalertfull "el-alert with full functions"
  <el-alert
    title="提示文案"
    description="辅助性文字介绍, 可选"
    type="success | warning | info | error"
    closable
    center
    show-icon="true"
  />
endsnippet
