extends javascript

snippet eldialgjs "el-dialog in javascript" b

  data() {
    return {
      dialogVisible: false
    }
  },

  methods: {
    handleClose() {
      // TODO
    },

    handleConfirm() {
      // TODO
    },

    handleCancel() {
      // TODO
    }
  },

endsnippet
